## Homework 2
Hi everyone this is your seceond homework.

In this exercise, we intend to familiarize you more with classification, LDA, QDA algorithms.

You are free to discuss the problems and ways to approach them with your classmates, but be sure to not cheat. **Cheating will not be tolerated**.

# An introduce classification

**Classification** is a fundamental task in machine learning that involves categorizing data points into predefined classes or categories based on their features or characteristics. It plays a crucial role in various applications across industries, from image recognition and natural language processing to fraud detection and medical diagnosis. Here's a big picture overview of classification in machine learning:

You have learned data collection and processing and feature extraction and selectin in chapter 2.

There are various classification algorithms available, each with its strengths and weaknesses. The choice of algorithm depends on the nature of the data and the problem you are trying to solve. Common classification algorithms include:

1. Logistic Regression
2. Decision Trees
3. Random Forest
4. Support Vector Machines (SVM)
5. k-Nearest Neighbors (k-NN)
6. Naive Bayes
7. Gradient Boosting (e.g., XGBoost, LightGBM)

**Training the Model:**

* Once an algorithm is selected, the model is trained on a portion of the dataset (training data). During training, the algorithm learns to recognize patterns and relationships between features and class labels.
* The model's parameters are adjusted iteratively to minimize a specific loss function, making it better at making accurate predictions.

**Model Evaluation:**

* To assess the model's performance, it is tested on a separate dataset (validation or test data) that it has not seen during training. Common evaluation metrics for classification tasks include accuracy, precision, recall, F1-score, and area under the Receiver Operating Characteristic (ROC-AUC) curve.
* Cross-validation techniques may also be used to ensure robustness and avoid overfitting.

# Download Dataset

In [2]:
#download data from google drive
!gdown --id 1sxdG42aaNm2nRCwb8w-8qstSw2q1yFNV

#unzip files
!unzip ML_Bahrak_HW2_Dataset

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1sxdG42aaNm2nRCwb8w-8qstSw2q1yFNV
To: /content/ML_Bahrak_HW2_Dataset.zip
100% 494k/494k [00:00<00:00, 110MB/s]

#Binary Classification

**Binary classification** is a fundamental concept in machine learning and statistics. It is a type of supervised learning task in which the goal is to categorize data points into one of two possible classes or categories. In binary classification, there are two mutually exclusive and exhaustive classes: the positive class (often labeled as "1" or "positive") and the negative class (labeled as "0" or "negative"). The objective is to assign each data point to one of these two classes based on its features or attributes.

Depond on the application, choosing a decision threshold for classifying data points into the positive or negative class is one of the most important thing that you should do. This threshold can be adjusted to achieve a desired trade-off between precision and recall.


##Introduction to Naive Bayes algorithm

In machine learning, Naïve Bayes classification is a straightforward and powerful algorithm for the classification task. Naïve Bayes classification is based on applying Bayes’ theorem with strong independence assumption between the features. Naïve Bayes classification produces good results when we use it for textual data analysis such as Natural Language Processing.

Naïve Bayes models are also known as simple Bayes or independent Bayes. All these names refer to the application of Bayes’ theorem in the classifier’s decision rule. Naïve Bayes classifier applies the Bayes’ theorem in practice. This classifier brings the power of Bayes’ theorem to machine learning.


##<font color="red">**Question 1**</font>

* Explain Naive Bayes algorithm and the "naive" assumption in Naive Bayes

###<font color="green">**Answer:**</font>
The Naive Bayes algorithm is a simple and widely used classification algorithm in machine learning and statistics. It's based on Bayes' theorem and is particularly useful for text classification, spam filtering, and various other applications, including medical diagnosis and sentiment analysis. The "naive" in Naive Bayes refers to a simplifying assumption that makes the algorithm computationally tractable.

Here's a brief explanation of the Naive Bayes algorithm and the "naive" assumption:

1. **Bayes' Theorem**:
   Bayes' theorem is a fundamental concept in probability theory and statistics. It relates the conditional probability of an event A occurring given that an event B has occurred to the conditional probability of event B occurring given that event A has occurred. Mathematically, it can be expressed as:

   \begin{equation}P(A|B) = \frac{P(B|A) \cdot P(A)}{P(B)}\end{equation}

   In the context of classification, we want to determine the probability of a particular class $(C)$ given some input features $(X)$. Bayes' theorem can be used to express this as:

   $$ P(C|X) = \frac{P(X|C) \cdot P(C)}{P(X)} $$

2. The "Naive" Assumption:
   The "naive" assumption in Naive Bayes is the simplifying assumption that makes the algorithm computationally tractable. It assumes that the features $(X)$ used for classification are conditionally independent, given the class label $(C)$. In other words, it assumes that the presence or absence of one feature does not affect the presence or absence of other features. This is a strong and often unrealistic assumption, which is why the algorithm is called "naive."

   Mathematically, this can be expressed as:

   $$ P(X|C) = P(x_1|C) \cdot P(x_2|C) \cdot \ldots \cdot P(x_n|C)$$

   This assumption greatly simplifies the calculations involved in estimating the probabilities. Instead of estimating the joint probabilities of all features together, it estimates the individual probabilities for each feature given the class and then combines them using Bayes' theorem.

3. Classification:
   Once you have estimated the probabilities $P(X|C)$ and $P(C)$ for each class, you can use Bayes' theorem to calculate the conditional probability $P(C|X)$ for each class. The class with the highest probability is the predicted class for the given input.

   $$P(C|X) \propto P(X|C) \cdot P(C)$$

   The "naive" assumption allows you to estimate $P(X|C)$ and $P(C)$ more easily, as you only need to estimate the probabilities for individual features and the prior probability of each class.

##<font color="red">**Question 2**</font>
Explain the trade-off between precision and recall in the context of binary classification. Provide an example scenario where optimizing one metric might come at the expense of the other. How can this trade-off be managed to make an informed decision when building a classification model?


> <font color="orange">**Note:**</font>
Present a practical example scenario, such as a medical test for a rare disease. Explain how optimizing one metric (e.g., precision) may result in fewer false alarms (fewer healthy patients incorrectly identified as having the disease) but could miss some true cases of the disease (lower recall).

###<font color="green">**Answer:**</font>


1. **Precision:** Precision measures the accuracy of positive predictions made by the model. It is the ratio of true positive predictions to the total positive predictions (true positives and false positives). A high precision indicates that the model makes few false positive errors, meaning that when it predicts a positive class, it is usually correct.

   $$Precision = \frac{True\ Positives}{True\ Positives + False\ Positives}$$

2. **Recall:** Recall, also known as sensitivity or true positive rate, measures the model's ability to identify all relevant instances of the positive class. It is the ratio of true positive predictions to the total actual positive instances (true positives and false negatives). High recall means that the model rarely misses positive instances and is good at capturing all actual positive cases.

   $$Recall = \frac{True\ Positives}{True\ Positives + False\ Negatives}$$

*trade-off between precision and recall:*

- When you optimize for **high precision**, you aim to minimize false positives, which means that the model is cautious and only makes positive predictions when it's very confident. This is important in scenarios where false alarms are costly or when you want to be certain that the positive predictions are indeed correct. However, optimizing for high precision may lead to lower recall because the model is conservative and might miss some true positive cases.

- When you optimize for **high recall**, you want to minimize false negatives, meaning the model aims to capture as many true positive cases as possible. This is crucial in situations where missing even a single positive instance can have severe consequences, such as in medical diagnoses of serious diseases. However, optimizing for high recall may lead to lower precision because the model may be more liberal in making positive predictions and could have some false alarms.

*Example Scenario:*
Let's consider a medical test for a rare disease. In this scenario, optimizing for precision and recall can have different implications:

- **Optimizing for High Precision:** In this case, you want to minimize the number of false positives. This is important because falsely diagnosing healthy patients as having the disease can lead to unnecessary stress, additional medical tests, and potential side effects of treatment. So, you set a high threshold for the test result, meaning the test is only considered positive when it's very confident. This approach leads to high precision but may miss some true cases of the disease, resulting in lower recall. Some individuals with the disease might be undiagnosed.

- **Optimizing for High Recall:** In this scenario, you want to ensure that you capture as many true cases of the disease as possible. Missing a positive diagnosis for a rare but serious disease could have severe consequences for the patients. To achieve this, you might lower the threshold for the test result, making the test more sensitive and flagging more cases as positive. This approach leads to high recall but may increase the number of false positives, causing anxiety and unnecessary tests for some healthy individuals.

**Managing the Trade-off:**
To make an informed decision when building a classification model, you should carefully consider the specific context and the consequences of false positives and false negatives. It often involves finding the right balance between precision and recall based on the domain's requirements and risks. Techniques like adjusting classification thresholds, using different models, or employing ensemble methods can help you manage the trade-off and achieve a balance that aligns with your objectives. Additionally, you may choose to use the F1 score, which is the harmonic mean of precision and recall, to evaluate the model's overall performance when balancing these two metrics is crucial.

##<font color="red">**Question 3**</font>
Now it's time to implement a naive bayse classifier and deal with a real dataset step by step. first you need to import some important libraries and <font color="blue">**adult.csv**</font> dataset.

> <font color="orange">**Note:**</font>
Don't Remember to analyse and explain each part

#### **Import libraries**

you can also import other libraries that you think is needed

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization

####**Import dataset**

In [7]:
file_path = 'adult.csv'

colnames = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
            'marital_status', 'occupation','relationship','race', 'sex',
            'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path, names=colnames, header=None)

####**Exploratory data analysis**

- **Use EDA, preprocess, data cleaning and other methods if necessary**


> <font color="orange">**Note:**</font>
If you use dataset.head(), you can see that the dataset does not have proper column names. The columns are merely labelled as 0,1,2.... and so on.

Use the names of the following columns and replace them with the names of the current columns


**columns names:**

age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship,race, sex, capital_gain, capital_loss, hours_per_week, native_country, income

In [8]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
# Display basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [10]:
# Summary statistics
print(df.describe())

                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [11]:
# Check for missing values
print(df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [13]:
# Loop through all columns and display value counts for categorical columns
for column in df.columns:
    if df[column].dtype == 'object':
        print(f"Column: {column}")
        print(df[column].value_counts())
        print("\n")

Column: workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64


Column: education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64


Column: marital_status
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital_status, dtype: int64


Column: occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64


Column: relationship
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64


Column: race
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64


Column: sex
 Male      21790
 Female    10771
Name: sex, dtype: int64


Column: native_country
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64


Column: income
 <=50K    24720
 >50K      7841
Name: income, dtype: int64

####**Declare feature vector and target variable**
**target value is income**

In [ ]:
# Your code

####**Split data into separate training and test set**

In [ ]:
# Your Code

####**Use feature engineering and feature scaling like StandardScale or RobustScale**

In [ ]:
# Your Code:

####**Model training**

In [ ]:
# Your Code

####**Check accuracy score and calulate f1-score, precision, recall**

In [ ]:
# Your Code

####**Calculate class possibilites**

In [ ]:
# Your Code

####**Use ROC-AUC and also k-Fold Cross Validation**

In [ ]:
# Your Code

#### **Results and conclusion**
Briefly explain what you did and what you got

#####<font color="green">**Answer:**</font>

#KNN

##<font color="red">**Question 4**</font>

- Explain the k-Nearest Neighbors (k-NN) algorithm and its fundamental principle

###<font color="green">**Answer:**</font>

##<font color="red">**Question 5**</font>
You're expected implement a K-Nearest Neighbors classifier. first import <font color="blue">**glass.csv**</font>. extract **Type column** as a target.

#### **Import libraries**

you can also import other libraries that you think is needed

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization

####**Import dataset**

In [ ]:
# Your code:

####**Exploratory data analysis**

- **Data review (EDA, data cleaning, preprocess,...)**

In [ ]:
# Your Code

####**Data visualization**

- **Visualize the number of type in the dataset**
- **Use barplot, scatter plot,...**

In [ ]:
# Your Code

####**Data preparing for KNN**

In [ ]:
# Your Code

####**Training Model**

In [ ]:
# Your Code

####**Find the best parameter of n_neighbors**
> <font color="orange">**Note:**</font>
**Use GridSearchCV**

In [ ]:
# Your Code

#### **Results and conclusion**
Briefly explain what you did and what you got

#####<font color="green">**Answer:**</font>

#Multi-class Classification
**Multi-class classification** is a type of supervised machine learning task where the goal is to assign a single input data point to one of multiple possible classes or categories.

##<font color="red">**Question 6**</font>

- What are two strategies of classify multi-class data? explain both and their differences.

###<font color="green">**Answer:**</font>

##<font color="red">**Question 7**</font>

So you are going to implement a multi-class classification. the one thing you should do is importing <font color="blue">**mobile price**</font> dataset. Target column is **price_range**.

> <font color="orange">**Note:**</font> Your code should be readable and with a lot ot explaination

#### **Import libraries**

you can also import other libraries that you think is needed

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization

####**Import dataset**

In [ ]:
# Your code:

####**Exploratory data analysis**

- **If necessary EDA, data cleaning, preprocess...**

In [ ]:
# Your Code

####**Data visualization**

- **corr, hist...**

In [ ]:
# Your Code

####**Data preparing**

In [ ]:
# Your Code

####**Training Model**
Choose at least two common algorithms like:
- k-Nearest Neighbors.
- Decision Trees.
- Naive Bayes.
- Random Forest.

In [ ]:
# Your Code

####**Show and analyze confusion matrix, recall, accuracy, precision and other metrics that you think is useful**

In [ ]:
# Your Code

#### **Results and conclusion**
Briefly explain what you did and what you got

#####<font color="green">**Answer:**</font>

#LDA and QDA

##Linear Discriminant Analysis (LDA)
Linear Discriminant Analysis is a supervised machine learning algorithm used for dimensionality reduction and classification. Its primary goal is to find a linear combination of features that best separates two or more classes in the data. LDA is particularly useful when you have labeled data and want to reduce the dimensionality while preserving class separability.

##Quadratic Discriminant Analysis (QDA)
Quadratic Discriminant Analysis is another supervised classification and dimensionality reduction technique used for similar purposes as LDA. However, it differs from LDA in a few key ways.

###<font color="red">**Question 7**</font>

- Contrast the key differences between Linear Discriminant Analysis (LDA) and Quadratic Discriminant Analysis (QDA). How do these differences impact the decision boundaries and flexibility of the two algorithms?

- If the Bayes decision boundary is linear, do we expect LDA or QDA to perform better on the training set? On the test set?

- If the Bayes decision boundary is non-linear, do we expect LDA or QDA to perform better on the training set? On the test set?

####<font color="green">**Answer:**</font>

###<font color="red">**Question 8**</font>

This question should be answered using the <font color="blue">**Weekly**</font> data set

#### **Import libraries**

you can also import other libraries that you think is needed

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization

####**Import dataset**

In [ ]:
!pip install ISLP

In [ ]:
from ISLP import load_data
Weekly = load_data('Weekly')

####**a) Produce some numerical and graphical summaries of the Weekly data**

In [ ]:
# Your Code

- Do there appear to be any patterns?

####**b) Use the full data set to perform a logistic regression with Direction as the response and the five lag variables plus Volume as predictors. Use the summary function to print the results**

In [ ]:
import statsmodels.api as sm
from statsmodels.discrete.discrete_model import Logit

# Your code

- Do any of the predictors appear to be statistically significant? If so, which ones?

####**c) Compute the confusion matrix and overall fraction of correct predictions**

In [ ]:
# Your Code

- Explain what the confusion matrix is telling you about the types of mistakes made by logistic regression.

####**d) Now fit the logistic regression model using a training data period from 1990 to 2008, with Lag2 as the only predictor. Compute the confusion matrix and the overall fraction of correct predictions for the held out data (that is, the data from 2009 and 2010).**

In [ ]:
# Your Code

####**e) Repeat (d) using LDA**

In [ ]:
# Your Code

####**f) Repeat (d) using QDA**

In [ ]:
# Your Code

####**g) Repeat (d) using KNN with K = 1**

In [ ]:
# Your Code

####**h) Which of these methods appears to provide the best results on this data?**

#####<font color="green">**Answer:**</font>